.centered-table {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
}

.div {
    text-align: center;
    padding: 30px;
    /*height: 30px;*/
}

.centered-searchbar {
    width: 80%;
    height: 50px;
    font-size: 16px;
}

.centered-text {
    text-align : center;
}

.centered-text-with-padding {
    /*height : 200px;*/
    text-align : center;
    padding: 100px;
}

.footer {
    height : 20px;
    text-align : center;
}

.filter-icon {
    color: #1677ff
}

.sidePanel {
    border-right: 1px solid #edf0f5;
    background: #fff;
    transition: all 0.3s ease-in-out;
    margin-top: 0;
}

.nav-bar-menu {
    text-align : center;
}

main {
    display: flex;
    height: 100vh;
}

content {
    height: 100%;
    width: 85%;
    background: white;
    border-radius: 10px 0 0 10px;
}

siedbar {
    height: 100%;
    width: 15%;
    background: white;
    align-items:center;
}